<div style="margin: 5px; font-size: 25px; border-radius: 10px; color: blue; background-color: whitesmoke; padding: 10px;">
  {{#if author}}
    {{author}} - 
  {{/if}}

  {{title}}

  {{#if lang}}
    ({{lang}})
  {{/if}}
</div>
