<div class="w-full flex flex-col">
  <div id="new-folder" class="button">new folder</div>
  <div id="new-file" class="button">new file</div>

  <dialog id="dialog">
    <form method="dialog">
      <input type="text" name="name" placeholder="name" pattern="\S+.*" required>

      <button type="submit" value="ok">ok</button>
      <button type="reset" value="cancel">cancel</button>
    </form>
  </dialog>
</div>

<script defer>
  const createDialog = (type) => {
    const { title, endpoint } = [
      { title: 'folder name', endpoint: '/create/folder' },
      { title: 'file name', endpoint: '/create/file' }
    ][type]

    const dialog = document.querySelector('#dialog');
    dialog.querySelector('input').placeholder = title;

    dialog.showModal();

    dialog.querySelector('button[type="reset"]').onclick = () => dialog.close()

    dialog.onclose = () => {
      const path = dialog.querySelector('input').value;

      const xhr = new XMLHttpRequest();
      xhr.open("POST", endpoint, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({ path: path }));
    }
  }

  document.querySelector('#new-folder').onclick = () => createDialog(0);
  document.querySelector('#new-file').onclick = () => createDialog(1);
</script>