<div class="w-full flex flex-col">
  <div id="new-folder" class="button">new folder</div>
  <div id="new-file" class="button">new file</div>
</div>

<script defer>
        document.querySelector('#new-folder').onclick = () => createDialog('folder name', '/mk/folder', '');
        document.querySelector('#new-file').onclick = () => createDialog('file name', '/mk/file', '');
</script>