<div class="w-full flex flex-col">
  <div id="new-folder" class="button">new folder</div>
  <div id="new-file" class="button">new file</div>

  <dialog id="dialog">
    <form action="/create" method="post">
      <input type="text" name="path" placeholder="name" pattern="\S+.*" required>

      <button class="button" type="submit" value="ok">ok</button>
      <button class="button" type="reset" value="cancel">cancel</button>
    </form>
  </dialog>
</div>

<script defer>
  const createDialog = (title, endpoint) => {
    const dialog = document.querySelector('#dialog');

    dialog.querySelector('form').action = endpoint;
    dialog.querySelector('input').placeholder = title;

    dialog.querySelector('button[type="reset"]').onclick = () => dialog.close()

    dialog.showModal();
  }

  document.querySelector('#new-folder').onclick = () => createDialog('folder name', '/create/folder');
  document.querySelector('#new-file').onclick = () => createDialog('file name', '/create/file');
</script>