<div class="h-full flex flex-col sidebar">
  <div class="w-full flex flex-col">
    <div id="filters-btn" class="button">filters</div>

    <div id="save-changes" class="button">save changes</div>
    <a href="/preview?path={{path}}" target="_blank" class="a">
      <div id="preview" class="button">preview</div>
    </a>
    <div id="change-name" class="button">rename</div>
  </div>
</div>

<div id="filters-bar-drawer">
  {{> filters_bar}}
</div>

<script>
  document.querySelector('#filters-btn').onclick = () => {
    const drawer = document.querySelector('#filters-bar-drawer')
    drawer.style.width = drawer.style.width === '0px' ? '200px' : '0px'
  }

  const save = () => {
    let image = document.querySelector('#image')

    const canvas = document.createElement('canvas')
    const context = canvas.getContext('2d')

    canvas.width = image.width
    canvas.height = image.height
    context.filter = image.style.filter
    context.drawImage(image, 0, 0, canvas.width, canvas.height)

    const content = canvas.toDataURL("image/jpeg")
    const body = JSON.stringify({
      content,
      path: '{{path}}',
    }) 
    
    fetch('/save/image', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: body
    })
      .then(data => {
        alert("file saved")
        location.reload()
      })
  }

  document.querySelector('#save-changes').onclick = save

  document.querySelector('#change-name').onclick = () => {
    console.log('change name');
    createDialog('new path', '/mv/file', '{{path}}', '{{path}}');
  }
</script>