<div class="file">
  <div class="file__icon">
    <img src="{{icon}}" alt="file icon" />
  </div>
  <a href="/rm?path={{path}}">
    <div>
      X
    </div>
  </a>
  <div class="file__name">
    {{name}}
  </div>
</div>