<table class="files-list">
  <tr>
    <th>actions</th>
    <th>|</th>
    <th>id</th>
    <th>|</th>
    <th>name</th>
    <th>|</th>
    <th>size</th>
    <th>|</th>
    <th>type</th>
  </tr>

  {{# each files}}
  {{> fileListItem}}
  {{/ each}}
</table>