<div class="file">
  <div class="file__icon">
    <img src="{{icon}}" alt="file icon" />
  </div>
  <a href="/rm?currentPath={{@root.currentPath}}&path={{path}}">
    <div class="rm-btn">
      X
    </div>
  </a>
  <div class="file__name">
    {{truncate name 10}}
  </div>
</div>