<a href="/cd?path={{name}}" class="a">
  <div class="flex flex-col folder">
    <div class="folder__icon">
      <img src="{{icon}}" alt="folder icon" />
    </div>
    <div class="folder__name">
      {{name}}
    </div>
  </div>
</a>