<a href="/cd?path={{path}}" class="a">
  <div class="flex flex-col folder">
    <div class="folder__icon">
      <img src="{{icon}}" alt="folder icon" />
    </div>
    <a href="/rm?path={{path}}">
      <div class="rm-btn">
        X
      </div>
    </a>
    <div class="folder__name">
      {{name}}
    </div>
  </div>
</a>