<div class="header">
  <a href="/index" class="a index-btn">
    <img src="/icons/user.png">
  </a>
  
  <a href="/filemanager" class="a home-btn">
    <h1>filemanager</h1>
  </a>
</div>
<style>
  .header {
    background-color: #333;
    color: white;
    display: flex;
    width: 100%;
  }
  
  .header .index-btn {
    padding: 16px 16px;
    background-color: #4CAF50;
  }
  .header .index-btn:hover {
    background-color: #3e8e41;
  }
  
  .header .index-btn img {
    width: 64px;
    height: 64px;
  }
  
  .header .home-btn {
    width: 100%;
  }
  .header .home-btn h1 {
    text-align: center;
  }
</style>