<div class="header">
  <a href="/filemanager" class="a">
    <h1>filemanager</h1>
  </a>
</div>
<style>
  .header {
    background-color: #333;
    color: white;
    padding: 16px;
    text-align: center;
  }
</style>