<style>
    #line-numbers {
        padding: 5px;
        background-color: #f5f5f5;
        border-right: 1px solid #e5e5e5;
        box-sizing: border-box;
    }

    #line-numbers div {
        padding: 0;
        font-family: monospace;
        font-size: 16px;
        color: #999;
    }

    #text {
        width: 100%;
        background-color: #f5f5f5;
        border: none;
        box-sizing: border-box;
        font-family: monospace;
        font-size: 16px;
        outline: none;
        white-space: pre;
        overflow-wrap: normal;
        overflow-x: scroll;
    }
</style>

<div class="w-full h-full flex flex-col">
    {{> path}}

    <div class="flex flex-row h-full">
        <div id="line-numbers"></div>

        <textarea id="text">{{content}}</textarea>
    </div>
</div>

<script>
    const lineNumbers = document.querySelector('#line-numbers');
    const text = document.querySelector('#text');
                            const fontSize = document.querySelector('input[name="fontSize"]');

                            text.value = JSON.parse(text.value)

    const updateEditorPreferences = ({ fontSize, primaryColor, secondaryColor }) => {
        text.style.fontSize = `${fontSize}px`;
        text.style.backgroundColor = primaryColor;
        text.style.color = secondaryColor;

        refreshLineNumbers()
    }

    const refreshLineNumbers = () =>
        lineNumbers.innerHTML = text.value.split("\n").map((line, i) => `<div style="font-size: ${fontSize.value}px;">${i + 1}</div>`).join('')

    text.oninput = refreshLineNumbers

    refreshLineNumbers()
    updateEditorPreferences({
        fontSize: document.querySelector('input[name="fontSize"]').value,
        primaryColor: document.querySelector('input[name="primaryColor"]').value,
        secondaryColor: document.querySelector('input[name="secondaryColor"]').value,
    })
</script>