<form class="flex flex-row w-full file-input" action="/upload" method="post" enctype="multipart/form-data">
  <label for="files-upload">
    <div class="file-input-chooser">choose</div>
  </label>
  <input type="text" name="currentPath" value="{{@root.currentPath}}" class="hidden">
  <input type="file" name="files" id="files-upload" class="hidden" multiple required>

  <input type="submit" value="ok" class="file-input-submit">
</form>
<style>
  .file-input {
    box-sizing: border-box;
    width: 100%;
    border: none;
  }

  .file-input-chooser {
    background-color: #4CAF50;
    width: 100%;
    border: none;
    border-radius: 40px 0px 0px 40px;
    color: white;
    box-sizing: border-box;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
  }

  .file-input-chooser:hover {
    background-color: #3e8e41;
  }

  .file-input-submit {
    background-color: #4CAF50;
    width: 100%;
    border: none;
    border-left: 2px solid #333;
    border-radius: 0px 40px 40px 0px;
    color: white;
    box-sizing: border-box;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
  }

  .file-input-submit:hover {
    background-color: #3e8e41;
  }
</style>