<form class="flex flex-row w-full file-input" action="/upload" method="post" enctype="multipart/form-data">
  <label for="files-upload">
    <div class="file-input-chooser">choose</div>
  </label>
  <input type="file" name="files" id="files-upload" class="hidden" multiple required>

  <input type="submit" value="ok" class="file-input-submit">
</form>