{{{subject}}}

<div style="border-radius: 10px; color: blue; background-color: whitesmoke; padding: 10px;">
  {{{content}}}
</div>

<div style="margin-top: 100px; border-top: 1px solid black; padding: 30px auto; background-color: whitesmoke;">
  {{{footer}}}
</div>