{{> header}}

<style>
    code {
        background-color: #333;
        color: white;
        padding: 2px 6px;
        border-radius: 5px;
    }
</style>

<div style="margin: 10px;">
    <h2>
        logged in as <code>{{username}}</code>
    </h2>

    <a href="/logout" class="a">
        <button class="button" style="width: 200px;">logout</button>
    </a>
</div>